/*// X-Small devices (portrait phones, less than 576px)*/
/*// No media query for `xs` since this is the default in Bootstrap*/

@media (min-width: 320px) and (max-width: 575px){
	/*header part responsive code start*/
	

	.header_text p{
		text-align: center;
		font-size: 11px;
		margin-top: 5px;
	}
	.header_icon ul li {
     padding: 0px 4px;
}
	/*header part responsive code end*/

	/*navigation part responsive code start*/
	.navbar-nav .nav-item .nav-link{
		text-align: center;
		background-color: green;
		color: white;
	}

	.navbar-nav .nav-item .nav-link:hover{
		background-color: teal;
	}

	.navbar-nav{
		margin-top: 15px;
	}
	/*navigation part responsive code end*/

	/*banner part responsive code start*/
	.banner_content{
		text-align: center;
	}

	.hide_con{
		display: none;
	}
	/*banner part responsive code end*/

	/*common heading part responsive code start*/
	.common_heading h4:after {
    left: 32%;
   }

.common_heading h4:before {
    left: 45%;
   }

   .common_heading h4 span:after {
    left: 48%;
   }
	/*common heading part responsive code end*/

	/*service part responsive code start*/
	.service_main{
		margin-top: 60px;
	}

	.big_img{
		margin-bottom: 20px;
	}

	.xsm_img{
		margin-top: 50px;
	}

	.round_img{

	}

	.piramid{
		left: 43%;
	}

	.testi_content p{
		text-align: justify;
	}
	/*service part responsive code end*/

	/*footer part responsive code start*/
	.footer_logo{
		text-align: center;
	}

	.xsm_text{
		display: none;
	}

	.footer_common_heading {
		text-align: center;
	}

	.f_icon{
		margin-left: 30px;
	}

	.xsm_menu{
		padding-left: 70px;
	}
	/*footer part responsive code end*/
}
 
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) { 

	/*navigation part responsive code start*/
	.navbar-nav{
		margin-top: 15px;
	}
	.navbar-nav .nav-item .nav-link{
		text-align: center;
		background-color: indigo;
		color: white;
	}
	/*navigation part responsive code end*/

	/*banner part responsive code start*/
	.banner_content{
		text-align: center;
	}
	/*banner part responsive code end*/

	/*about part responsive code start*/
	.sm_text{
		display: none;
	}
	.about_content {
    margin-top: -14px;
    line-height: 25px;
    }
    /*about part responsive code end*/

    /*common heading responsive code start*/
    .common_heading h4 {
    margin: 25px 0 40px;
    }
    /*common heading responsive code end*/

   /*service part responsive code start*/
   .ser_icon_main {
    top: -23%;
    left: 34%;
    }

    .sm_ser_main{
    	margin-top: 50px;
    }

    .sm_ser_icon_main{
     top: -26%;
     left: 41%;
    }
   /*service part responsive code end*/

   /*gallery part responsive code start*/
    .big_img{
    	margin-bottom: 20px;
    }

   /*gallery part responsive code end*/

   /*testimonia part responsive code start*/
   .piramid{
		left: 42%;
	}
   /*testimonia part responsive code end*/

   /*footer part responsive code start*/
	.footer_logo{
		text-align: center;
	}

	.xsm_text{
		display: none;
	}

	.footer_common_heading {
		text-align: center;
	}

	.f_icon{
		margin-left: 100px;
	}

	.xsm_menu{
		padding-left: 170px;
	}
	/*footer part responsive code end*/

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px){ ... }

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px){ ... }

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399px){ ... }

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { ... }